li { list-style-type: none; }
td { border: solid 1px #C8C8C8; padding: 2px; }
.glyphicon { color: #000; cursor: pointer; }
.glyphicon-chevron-down, .glyphicon-chevron-up { left: 2px; top: 2px; }
.list-group-item { border-radius: 0px; width: 120px; padding: 10px 10px;}
table { font-size: 9px; font-family: sans-serif; border-collapse: collapse; text-align: right; }
